.details-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 564px;
  height: 550px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  grid-area: details-container;
  background-color: white;
  border-radius: 16px;
  background: var(--Pure-White, #fff);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

.background-blue {
  position: absolute;
  z-index: -1;
  width: 978px;
  height: 700px;
  flex-shrink: 0;
  border-radius: 0px 0px 35px 35px;
  background: var(
    --Gradient-1,
    linear-gradient(290deg, #d6e6fe 0%, rgba(214, 252, 254, 0) 100%)
  );
}

.first-section-grid {
  width: 100vw;
  height: 777px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    "title-container title-container title-container details-container details-container details-container"
    "title-container title-container title-container details-container details-container details-container"
    "title-container title-container title-container details-container details-container details-container"
    "title-container title-container title-container details-container details-container details-container"
    ". . . . . .";
}

.title-container {
  grid-area: title-container;
  color: var(--Dark-Electric-Blue, #5e6e85);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem;
}
.title-container h2 {
  color: var(--Gunmetal, #253347);

  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: -3.2px;
}
@media screen and (max-width: 768px) {
  .first-section-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title-container"
      "details-container"
      "details-container"
      "details-container"
      "details-container"
      ".";
    height: auto;
  }

  .details-container {
    width: 100%;
  }

  .title-container {
    padding: 2rem;
  }

  .title-container h2 {
    font-size: 36px;
    letter-spacing: -1.8px;
  }
}
