.select-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.select-label {
  width: 100%;
}
.input-radio {
  width: 31px;
  height: 31px;
}
@media screen and (max-width: 768px) {
  .select-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
  }
}
