.section-means {
  position: relative;
  max-width: 100%;
  height: 533px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "image-container text-container"
    "image-container text-container";
  justify-content: center;
  margin-top: 4rem;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 5rem 0 5rem;
}
.back-img {
  width: 564px;
  height: 388px;
  border-radius: 32px;
  background: #e7f5fe;
}
.img-man {
  position: absolute;
  top: -145px;
  left: 100px;
  width: 468px;
  height: 533px;
}
.image-container {
  grid-area: image-container;
}
.text-container {
  grid-area: text-container;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 5rem 4rem 5rem;
  text-align: justify;
}
.patern-curve {
  position: absolute;
  top: -110px;
  right: 90px;
}
@media screen and (max-width: 768px) {
  .section-means {
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0rem 0px;
    grid-template-areas:
      "image-container"
      "image-container"
      "text-container"
      "text-container";
  }
  .back-img {
    height: 250px;
    width: 100vw;
  }
  .img-man {
    height: 354.39px;
    width: 354.39px;
    top: -105px;
    left: 20px;
  }
  .patern-curve {
    display: none;
  }
  .text-container {
    width: 60%;
    margin: 0 0 0 7rem;
  }
}
